<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicons/favicon-16x16.png">
    <link rel="manifest" href="/public/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/public/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/public/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title th:text="${statusCode} + ': Whoops, that\'s an error.'"/>
</head>

<h1 th:text="${statusCode} + ': Whoops, that\'s an error.'"/>

<img th:attr="src='https://http.cat/'+${statusCode},alt='Error '+${statusCode}">