<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicons/favicon-16x16.png">
    <link rel="manifest" href="/public/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/public/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/public/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Information</title>
</head>

<body>
    <div class="header">
        <a href="/track" class="logo">
            <img id="seal" src="/public/Seal_of_the_State_of_Hawaii.svg"
                 style="margin: auto; vertical-align: middle; display: inline-block; width: 75px;" alt="Hawaii State Seal">
            HDOA Pawsome Pickup
        </a>

        <div class="header-right">
            <a href="/track">Track Pet</a> <!-- Current Active Page -->
            <a class="active" href="/information">Information</a>
            <a href="/login">Employee Login</a>
        </div>
    </div>

    <div class="center-container">
        <div class="center-child">

            <!-- I would love to include a status bar for pet -->
            <h1 class="headline">Information</h1>

            <h1>
                <em>
                    Welcome to Hawaii Department of Agriculture's Pawsome Pickup website!
                </em>
            </h1>

            <h2>
                <em>
                    "Reuniting owners with their furry friends after their quarantine."
                </em>
            </h2>

            <p>
                Hawaii is a <b>Rabies-Free</b> state so traveling with your pet to Hawaii can be a stressful and
                complicated process. To ensure that the state of Hawaii stays rabies-free, pets must undergo a
                rabies-quarantine. A pet owner must submit proper documentation and pay the appropriate fees and only
                after that, may the pet owner retrieve their pet at the Animal Quarantine Center at <b>Daniel K. Inouye
                International Airport (HNL)</b>. With the current COVID-19 pandemic, many businesses had to adapt to
                heightened restrictions and social distancing. This is also true for Animal Quarantine Center.
            </p>

            <p>
                This website is for pet owners whose pets are currently under quarantine at the Animal Quarantine Center.
            </p>

            <hr>

            <h1>
                Pet Owners
            </h1>

            <p>
                If you are a pet owner awaiting your pet's release from quarantine, please enter your tracking number
                given to you by one of our employees on the "<a href="/track">Track Pet</a>" web page.
            </p>

            <p>
                If you are a pet owner seeking to come to Hawaii with your pet, please refer to the
                <a href="https://hdoa.hawaii.gov/ai/aqs/aqs-info/">Hawaii Department of Agriculture's website</a>
                on Animal Quarantine for the complete quarantine procedure, relevant information
                and forms for your reference.
            </p>

            <hr>

            <h1>
                Employees
            </h1>

            <p>
                Employees of the Animal Quarantine Center can log in to the website to make changes to pet statuses. Log
                in information will be provided to you through management. Click the "Employee Login" button to log in
                to the system.
            </p>

            <hr>

            <p>
                <em>
                    We hope that you and your furry friend enjoy your stay here in the islands. Mahalo!
                </em>
            </p>

        </div>
    </div>
</body>