<title th:text="'Manage quarantine of ' + ${quarantine.pet.name}"/>
<h1 th:text="'Manage quarantine of ' + ${quarantine.pet.name}"/>

<div th:each="state: ${quarantine.states}">
    <p th:text="${#temporals.format(state.creation, 'MM/dd/yy HH:mm')}+ ': ' + ${state.message}"/>
    <p th:if="${state.payloadText != null}" th:text="${state.payloadText}"
       style="margin-top: -0.5em;margin-left: 6.6em;border: solid 1px black;padding: 0.5em;display: inline-block;white-space:pre-wrap;"/>
</div>

<script th:inline="javascript">
    function showPayload(selectedOption) {
        if (selectedOption.checked) {
            changeFieldVisibility(selectedOption.dataset.hpt === "true", selectedOption.dataset.ptn, "payloadText", "payloadTextLabel");
            changeFieldVisibility(selectedOption.dataset.hpdt === "true", selectedOption.dataset.pdtn, "payloadDateTime", "payloadDateTimeLabel");
        }
    }

    function changeFieldVisibility(hasField, fieldName, fieldId, fieldLabelId) {
        let field = document.getElementById(fieldId);
        let fieldLabel = document.getElementById(fieldLabelId);
        if (hasField) {
            field.style.display = "block";
            field.required = true;
            fieldLabel.innerText = fieldName;
        } else {
            field.style.display = "none";
            field.required = false;
            fieldLabel.innerText = "";
        }
    }
</script>

<div th:if="${collectionTimeRequestable}">
    <p>Waiting for collection time request by owner.</p>
</div>

<h3>Select succeeding state</h3>
<form method="post"
      th:if="${quarantine.currentState.type.possibleSuccessors.length > 0} and not ${collectionTimeRequestable}">
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"/>

    <p th:each="possibleSuccessor: ${quarantine.currentState.type.possibleSuccessors}">
        <input type="radio" name="succeedingState"
               th:id="'RADIO-' + ${possibleSuccessor.name}"
               th:value="${possibleSuccessor.name}"
               th:attr="data-hpt=${possibleSuccessor.hasPayloadText},data-ptn=${possibleSuccessor.payloadTextName},data-hpdt=${possibleSuccessor.hasPayloadDateTime},data-pdtn=${possibleSuccessor.payloadDateTimeName}"
               onchange="showPayload(this)"
               required/>
        <label
                th:text="${possibleSuccessor.displayName}"
                th:for="'RADIO-' + ${possibleSuccessor.name}"/>
    </p>

    <label id="payloadTextLabel" for="payloadText"></label>
    <textarea id="payloadText" name="payloadText" style="display: none" maxlength="255"></textarea>

    <label id="payloadDateTimeLabel" for="payloadDateTime"></label>
    <input id="payloadDateTime" name="payloadDateTime" type="datetime-local" style="display: none"/>

    <button type="submit">Submit</button>
</form>

<a th:href="'/pets/'+${quarantine.pet.id}" th:text="'Back to pet: '+${quarantine.pet.name}"/>