<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicons/favicon-16x16.png">
    <link rel="manifest" href="/public/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/public/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/public/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/public/styles.css">
    <title th:text="'Manage Quarantine of ' + ${quarantine.pet.name} + ' - HDOA Pawsome Pickup'"/>
</head>

<!-- Script -->
<script th:inline="javascript">
    function showPayload(selectedOption) {
        if (selectedOption.checked) {
            changeFieldVisibility(selectedOption.dataset.hpt === "true", selectedOption.dataset.ptn, "payloadText", "payloadTextLabel");
            changeFieldVisibility(selectedOption.dataset.hpdt === "true", selectedOption.dataset.pdtn, "payloadDateTime", "payloadDateTimeLabel");
        }
    }

    function changeFieldVisibility(hasField, fieldName, fieldId, fieldLabelId) {
        let field = document.getElementById(fieldId);
        let fieldLabel = document.getElementById(fieldLabelId);
        if (hasField) {
            field.style.display = "block";
            field.required = true;
            fieldLabel.innerText = fieldName;
        } else {
            field.style.display = "none";
            field.required = false;
            fieldLabel.innerText = "";
        }
    }
</script>

<body>
<div class="header">
    <a href="/track" class="logo">
        <img id="seal" src="/public/Seal_of_the_State_of_Hawaii.svg" style="margin: auto; vertical-align: middle; display: inline-block; width: 75px;" alt="Hawaii State Seal">
        HDOA Pawsome Pickup (Employee Mode)
    </a>

    <div class="header-right">
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="center-container">
    <div class="center-child">
        <h1 class="headline" th:text="'Manage Quarantine of ' + ${quarantine.pet.name}"/>

        <table>
            <thead>
            <tr>
                <th>Time</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="state: ${quarantine.states}">
                <td>
                    <p th:text="${#temporals.format(state.creation, 'MM/dd/yy hh:mm a')}"/>
                </td>
                <td>
                    <p th:text="${state.message}"/>
                    <p th:if="${state.payloadText != null}"
                       th:text="${state.type.payloadTextName} + ':&#10;' + ${state.payloadText}"
                       style="margin-top: -0.5em;margin-left: 0.5em;border: solid 1px white;padding: 0.5em;display: inline-block;white-space:pre-wrap;word-break: break-word"/>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${collectionTimeRequestable}">
            <p>Waiting for collection time request by owner.</p>
        </div>
    </div>
</div>

<div class="center-container"
     th:if="${quarantine.currentState.type.possibleSuccessors.length > 0} and not ${collectionTimeRequestable}">
    <div class="center-child">
        <h1>Select Succeeding State</h1>

        <form method="post">
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"/>

            <div th:each="possibleSuccessor: ${quarantine.currentState.type.possibleSuccessors}">
                <input type="radio" name="succeedingState"
                       th:id="'RADIO-' + ${possibleSuccessor.name}"
                       th:value="${possibleSuccessor.name}"
                       th:attr="data-hpt=${possibleSuccessor.hasPayloadText},data-ptn=${possibleSuccessor.payloadTextName},data-hpdt=${possibleSuccessor.hasPayloadDateTime},data-pdtn=${possibleSuccessor.payloadDateTimeName}"
                       onchange="showPayload(this)"
                       required/>
                <p style="margin: 0.25em;">
                    <label
                            th:text="${possibleSuccessor.displayName}"
                            th:for="'RADIO-' + ${possibleSuccessor.name}"/>
                </p>
            </div>

            <div class="center-container">
                <div class="center-child">
                    <label id="payloadTextLabel" for="payloadText"></label>
                    <p>
                        <textarea id="payloadText" name="payloadText" style="display: none" maxlength="255"></textarea>
                    </p>

                    <label id="payloadDateTimeLabel" for="payloadDateTime"></label>
                    <p>
                        <input id="payloadDateTime" name="payloadDateTime" type="datetime-local" style="display: none"/>
                    </p>
                </div>
            </div>
            <button class="button button1" type="submit">Submit</button>
        </form>
    </div>
</div>

<div class="center-container">
    <div class="center-child">
        <a class="button button1" th:href="'/pets/'+${quarantine.pet.id}"
           th:text="'Back to pet: '+${quarantine.pet.name}"/>
    </div>
</div>
</body>