<head>
<link rel="stylesheet" href="/public/styles.css">
<title>Add Pet</title>
</head>

<body>
<div class="header">
    <a href="/track" class="logo">
        <img id="seal" src="/public/Seal_of_the_State_of_Hawaii.svg" style="margin: auto; vertical-align: middle; display: inline-block; width: 75px;" alt="Hawaii State Seal">
        HDOA Pawsome Pickup (Employee Mode)
    </a>
</div>

<div class="center-container">
    <div class="center-child">

        <h1 class="headline">Add Pet</h1>
        <p th:text="'Owner: ' + ${owner.name}"/>

        <form method="post">
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"/>

            <p>
                <label id="nameLabel" for="name">Name:</label>
                <br>
                <input id="name" name="name" type="text" maxlength="50"/>
            </p>
            <p>
                <label id="chipNoLabel" for="chipNo">Chip Number:</label>
                <br>
                <input id="chipNo" name="chipNo" type="text" maxlength="100"/>
            </p>
            <p>
                <button class="button button1" type="submit">Submit</button>
            </p>
        </form>
        <a class="button button1" th:href="'/owners/' + ${owner.id}">Cancel</a>

    </div>
</div>
</body>