<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicons/favicon-16x16.png">
    <link rel="manifest" href="/public/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/public/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/public/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/public/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Owner: ' + ${owner.name} + ' - HDOA Pawsome Pickup'"/>
</head>

<body>
<div class="header">
    <a href="/track" class="logo">
        <img id="seal" src="/public/Seal_of_the_State_of_Hawaii.svg" style="margin: auto; vertical-align: middle; display: inline-block; width: 75px;" alt="Hawaii State Seal">
        HDOA Pawsome Pickup (Employee Mode)
    </a>

    <div class="header-right">
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="center-container">
    <div class="center-child">
        <h1 class="headline" th:text="'Owner: ' + ${owner.name}"/>

        <p th:text="'Email address: ' + ${owner.emailAddress}"/>
        <p th:text="'Phone number: ' + ${owner.phoneNumber}"/>


        <a class="button button3" th:href="'/owners/'+${owner.id} + '/delete'">Delete owner</a>
        <a class="button button1" href="/owners">Back to owner list</a>
    </div>
</div>

    <div class="center-container">
        <div class="center-child">

            <h2 th:text="${owner.name} + '\'s Pets'"></h2>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Chip no.</th>
                        <th>Pet Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="pet: ${owner.pets}">
                    <td th:text="${pet.name}"/>
                    <td th:text="${pet.chipNo}"/>
                    <td><a class="button button2" th:href="'/pets/' + ${pet.id}">Show</a></td>
                    <td>
                        <a class="button button4" th:href="'/pets/' + ${pet.id} + '/delete'"
                           title="Delete">🗑</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <a class="button button1" th:href="'/owners/' + ${owner.id} + '/newPet'">New pet</a>

        </div>
    </div>
</body>
