<h1>Track quarantine</h1>

<div th:switch="${trackingNo}">
    <p th:case="''"></p>
    <p th:case="*">Tracking No. invalid</p>
</div>

<form onsubmit="return track()">
    <label for="trackingNo">Tracking No.</label>
    <input id="trackingNo" type="text" th:value="${trackingNo}">
    <button type="submit">Track</button>
</form>

<script>
    function track() {
        let inputField = document.getElementById('trackingNo');
        location.href = '/track/' + inputField.value;
        return false;
    }
</script>