<head>
    <link rel="stylesheet" href="/public/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Pet</title>
</head>

<body>
    <div class="header">
        <a href="/track" class="logo">
            <img id="seal" src="/public/Seal_of_the_State_of_Hawaii.svg" style="margin: auto; vertical-align: middle; display: inline-block; width: 75px;">
            HDOA Pawsome Pickup
        </a>

        <div class="header-right">
            <a class="active" href="/track">Track Pet</a> <!-- Current Active Page -->
            <a href="#">Information</a>
            <a href="/login">Login</a>
        </div>
    </div>

    <div class="center-container">
        <div class="center-child">
            <h1 class="headline">Track Pet</h1>

            <div th:switch="${trackingNo}">
                <p th:case="''"></p>
                <p th:case="*">Error: Tracking No. invalid</p>
            </div>

            <form method="get">
                <p>
                    <label for="trackingNo">Please enter the <strong>Tracking No.</strong> associated with your pet.</label>
                </p>
                <input id="trackingNo" name="trackingNo" type="text" th:value="${trackingNo}">
                <p>
                    <button class="button button1" type="submit">Track</button>
                </p>
            </form>
        </div>
    </div>
</body>