<head>
    <link rel="stylesheet" href="public/styles.css">
    <title th:text="'Quarantine history of ' + ${quarantine.pet.name}"/>
</head>

<body>
<div class="header">
    <a href="/track" class="logo">HDOA Pawsome Pickup</a>
    <div class="header-right">
        <a class="active" href="/track">Track Pet</a> <!-- Current Active Page -->
        <a href="#">Information</a>
        <a href="/login">Login</a>
    </div>
</div>

<div class="center-container">
    <div class="center-child">

        <!-- I would love to include a status bar for pet -->
        <h1 class="headline" th:text="'Current status of ' + ${quarantine.pet.name}"/>
        <div id="progressbar">
            <div></div>
        </div>

        <h1 th:text="'Quarantine history of ' + ${quarantine.pet.name}"/>

        <table>
            <tr>
                <th>Date and Time</th>
                <th>Message</th>
            </tr>
            <tr th:each="state: ${quarantine.states}">
                <td th:text="${#temporals.format(state.creation, 'MM/dd/yy')} + ' at ' + ${#temporals.format(state.creation, 'HH:mm a')}"/>
                <td>
                    <p th:text="${state.message}"/>
                    <p th:if="${state.payloadText != null}" th:text="${state.payloadText}" class="multiline"/>
                </td>
            </tr>
        </table>

    </div>
</div>
</body>