<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicons/favicon-16x16.png">
    <link rel="manifest" href="/public/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/public/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/public/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="public/styles.css">
    <title th:text="'Quarantine History of ' + ${quarantine.pet.name} + ' - HDOA Pawsome Pickup'"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="header">
    <a href="/track" class="logo">
        <img id="seal" src="/public/Seal_of_the_State_of_Hawaii.svg"
             style="margin: auto; vertical-align: middle; display: inline-block; width: 75px;" alt="Hawaii State Seal">
        HDOA Pawsome Pickup
    </a>

    <div class="header-right">
        <a class="active" href="/track">Track Pet</a> <!-- Current Active Page -->
        <a href="/information">Information</a>
        <a href="/login">Employee Login</a>
    </div>
</div>

<div class="center-container">
    <div class="center-child">

        <!-- I would love to include a status bar for pet -->
        <h1 class="headline" th:text="'Current Status of ' + ${quarantine.pet.name}"/>
        <h2 th:text="${quarantine.currentState.message}"/>
        <div id="progressbar">
            <div class="inner-progressbar"
                 th:attr="style='width: ' + ${quarantine.currentState.type.progress} +'%'">
            </div>
        </div>

        <h1 th:text="'Quarantine History of ' + ${quarantine.pet.name}"/>

        <div th:if="${collectionTimeRequestable}" class="collectionTimeRequest">
            <h2>Request collection time</h2>
            <form th:attr="action='/requestCollectionTime?trackingNo=' + ${quarantine.trackingNo}" method="post">

                <label id="requestedCollectionTimeLabel" for="requestedCollectionTime"></label>
                <input id="requestedCollectionTime" name="requestedCollectionTime" type="datetime-local"
                       required
                       th:attr="min=${min},max=${max}"
                       step="900"/>

                <button class="button button1" type="submit">Submit</button>
            </form>
        </div>

        <table>
            <thead>
            <tr>
                <th>Date and Time (HST)</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="state: ${quarantine.states}">
                <td th:text="${#temporals.format(state.creation, 'MM/dd/yy')} + ' at ' + ${#temporals.format(state.creation, 'hh:mm a')}"/>
                <td>
                    <p th:text="${state.message}"/>
                    <p th:if="${state.payloadText != null}" th:text="${state.type.payloadTextName} + ':'"
                       style="font-style: italic"/>
                    <p th:if="${state.payloadText != null}" th:text="${state.payloadText}" class="multiline"/>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>